.inventory {
	position: relative;
	min-height: 100vh;
	padding-top: 80px;
	padding-left: 130px;
	background-repeat: no-repeat;
	background-size: cover;

	background: transparent;
	backdrop-filter: blur(5px);

	.main {
		position: relative;
		z-index: 23;

		display: flex;
		column-gap: 60px;
	}
}
