
@font-face {
  font-family: "GT Eesti Pro Display";
  src: local("GT Eesti Pro Display"),
    url("./GTEestiProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "GT Eesti Pro Display";
  src: local("GT Eesti Pro Display"),
    url("./GTEestiProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Nekst";
  src: local("Nekst"),
    url("./Nekst-Light.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url("./Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
    url("./Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Akrobat";
  src: local("Akrobat"),
    url("./Akrobat-Regular.woff2") format("woff2");
  font-weight: 400;
}
